
$colorPrimary : #fafafa;
$colorSecond : #e63e3e;
$black : black;
$shadowDark :rgba(0, 0, 0, 0.6) 0px 0px 10px;

@mixin centerItems {
    display: flex;
    align-items: center;
    justify-content: center;
}
// normal css

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url(../img/73290_9-_93A0832_2018-09-06.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
nav{
    height: 10vh;
    width: 100%;
@include centerItems();
}
nav a{
    text-transform: uppercase;
    color: #fafafa;
    font-size: 1.2rem;
    pointer-events: none;
    text-decoration: none;
}
.main{
    min-height: 40vh;
    @include centerItems();
    flex-direction: column;
}
.main .title{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.7rem;
    padding: 1.2rem 0rem ;
    color: #fafafa;
    letter-spacing: 0.4rem;

}
.main .story{
    font-size: 1.3rem;
    width: 70%;
    color: $colorPrimary;
    text-shadow: $shadowDark;
    line-height: 2.5rem;
}
.secondMain{
    @include centerItems();
    padding: 1.2rem 0rem;
    flex-direction: column;
}
.secondMain .secondTitle{
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5rem;
    font-size: 2.4rem;
    text-shadow: $shadowDark;

    color: $colorSecond;
}
.count{
    @include centerItems();
    flex-direction: row;
}
.count .dot{
    font-size: 3rem;
    padding-bottom: 2rem ;
    color:$colorPrimary;
}
.description{
    @include centerItems();
    flex-direction: column-reverse;
    padding: 0.4rem 1.3rem;
    
}
.description span{
    font-size: 2rem;
    color: $black;
    color: $colorSecond;
    letter-spacing: 0.2rem;

}
.dot ,.year,.days,.hours,.minute,.second{
    font-size: 5rem;
    font-family: 'Bebas Neue', cursive;
    text-shadow: $shadowDark;
    color: $colorPrimary;

}
@media only screen and (max-width: 700px) {
    .dot ,.year,.days,.hours,.minute,.second{
        font-size: 2rem;
        font-family: 'Bebas Neue', cursive;
        text-shadow: $shadowDark;
        color: $colorSecond;
    
    }
    .main .story{
        font-size: 1.1rem;
        line-height: 1.6rem;

    }
    .secondMain .secondTitle{
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.1rem;
        padding-top: 1rem;
    }
    .description span{
        font-size: 0.9rem;
        color: $black;
    }
}

@media only screen and (max-width: 390px) {
    .dot ,.year,.days,.hours,.minute,.second{
        font-size: 2rem;
        font-family: 'Bebas Neue', cursive;
        text-shadow: $shadowDark;
        color: $colorSecond;
    
    }
    .main .story{
        font-size: 1.1rem;
        line-height: 1.6rem;

    }
    .secondMain .secondTitle{
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.1rem;
        padding-top: 1rem;
    }
    .description span{
        font-size: 0.9rem;
        color: black;
    }
}